<sky-data-manager>
  <sky-data-manager-toolbar>
    <sky-data-manager-toolbar-left-items>
      <sky-toolbar-item *ngIf="activeViewId === 'repeaterView'">
        <button
          type="button"
          class="sky-btn sky-btn-primary"
          (click)="searchSo()"
        >
          Set search text to "so"
        </button>
      </sky-toolbar-item>
    </sky-data-manager-toolbar-left-items>
  </sky-data-manager-toolbar>

  <data-view-repeater-code-example
    [items]="items"
  >
  </data-view-repeater-code-example>
  <data-view-cards-code-example
    [items]="items"
  >
  </data-view-cards-code-example>
  <data-view-grid-code-example
    [items]="items"
  >
  </data-view-grid-code-example>
</sky-data-manager>
