@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-infinite-scroll {
  margin-top: $sky-margin-double;
  text-align: center;
  min-height: 75px; // sky-wait height
  position: relative;
}

// TODO: Get this to be positioned correctly in a scrollable div!
.sky-infinite-scroll-back-to-top-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
 }
