<h1>demo</h1>

<p>paragraph <a href="#">foobar</a></p>

<sky-repeater [activeIndex]="activeIndex">
  <sky-repeater-item
    *ngFor="let item of items"
    [itemName]="item.title"
    (isSelectedChange)="onSelectedChange($event)"
  >
    <sky-repeater-item-title>
      {{ item.title }}
    </sky-repeater-item-title>
    <!-- <sky-repeater-item-content>
      {{ item.note }}
    </sky-repeater-item-content> -->
  </sky-repeater-item>
</sky-repeater>

<button type="button" (click)="addItem()">Add new item</button>

<p>paragraph <a href="#">baz</a></p>
