<h2>
  Infinite scroll
</h2>
<button
  class="sky-btn"
  [ngClass]="{
    'sky-btn-primary': enabled,
    'sky-btn-default': !enabled
  }"
  (click)="enabled = !enabled"
>
  Toggle enabled
</button>
<div
  class="app-screenshot"
  id="screenshot-infinite-scroll-wait"
>
  <sky-repeater>
    <sky-repeater-item *ngFor="let item of items">
      <sky-repeater-item-title>
        Title {{ item }}
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        Content {{ item }}
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>
  <sky-infinite-scroll
    [backToTopTarget]="backToTopTarget"
    [enabled]="enabled"
    (scrollEnd)="loadMore()"
  >
  </sky-infinite-scroll>
</div>
