@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";
@import "~@skyux/theme/scss/themes/modern/_compat/mixins";

.sky-sort-item {
  @include sky-dropdown-item();
}

.sky-sort-item-selected {
    background-color: $sky-background-color-selected;
    padding: 4px;
    margin: 0;
}

@include sky-theme-modern {
  .sky-sort-item {
    margin: 0;
    @include sky-theme-modern-btn-tab;
    @include sky-theme-modern-btn-tab-dropdown-item;

    & button {
      padding: 0;
    }
  }

  .sky-sort-item-selected {
    @include sky-theme-modern-btn-tab-selected-dropdown-item;
    background-color: inherit;
    padding-left: 12px;

    & button {
      font-weight: $sky-theme-modern-text-weight-regular-value;
    }
  }
}
